<!-- Footer -->
<footer class="bg-body-tertiary text-center mt-5">
  <div>
    <!-- logo imag -->
    <div class="logo">
      <img src="/assets/logo.png" alt="logo" />
    </div>
    <!-- Grid container -->
    <div>
      <div class="container">
        <!-- Section: Social media -->
        <section class="mb-2">
          <!-- Facebook -->
          <a
            class="btn btn-outline btn-floating"
            href="https://github.com/dwivediprashant"
            ><i class="fab fa-facebook-f"></i
          ></a>

          <!-- Twitter -->
          <a
            class="btn btn-outline btn-floating"
            href="https://github.com/dwivediprashant"
            ><i class="fa-brands fa-x-twitter"></i
          ></a>

          <!-- Google -->
          <a
            class="btn btn-outline btn-floating"
            href="https://github.com/dwivediprashant"
            ><i class="fab fa-google"></i
          ></a>

          <!-- Instagram -->
          <a
            class="btn btn-outline btn-floating"
            href="https://github.com/dwivediprashant"
            ><i class="fab fa-instagram"></i
          ></a>

          <!-- Linkedin -->
          <a
            class="btn btn-outline btn-floating"
            href="https://github.com/dwivediprashant"
            ><i class="fab fa-linkedin-in"></i
          ></a>

          <!-- Github -->
          <a
            class="btn btn-outline btn-floating"
            href="https://github.com/dwivediprashant"
            ><i class="fab fa-github"></i
          ></a>
        </section>
        <!-- Section: Social media -->

        <!-- Section: Form -->
        <section class="">
          <form action="">
            <!--Grid row-->
            <div class="row d-flex justify-content-center">
              <!--Grid column-->
              <div class="col-auto">
                <p class="pt-2">
                  <strong>Sign up for our newsletter</strong>
                </p>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-md-5 col-12">
                <!-- Email input -->
                <div data-mdb-input-init class="form-outline mb-4">
                  <input
                    type="email"
                    id="form5Example24"
                    class="form-control"
                  />
                  <label class="form-label" for="form5Example24"
                    >Email address</label
                  >
                </div>
              </div>
              <!--Grid column-->

              <!--Grid column-->
              <div class="col-auto">
                <!-- Submit button -->
                <button
                  data-mdb-ripple-init
                  type="submit"
                  class="btn btn-outline-danger mb-4"
                >
                  Subscribe
                </button>
              </div>
              <!--Grid column-->
            </div>
            <!--Grid row-->
          </form>
        </section>
        <!-- Section: Form -->

        <!-- Section: Links -->

        <!-- Section: Links -->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div
        class="text-center p-3"
        style="background-color: rgba(0, 0, 0, 0.05)"
      >
        © 2025 Copyright:
        <a class="text-reset fw-bold" href="https://github.com/dwivediprashant"
          >wanderLust.com</a
        >
      </div>
      <!-- Copyright -->
    </div>
  </div>
</footer>
<!-- Footer -->
