<nav class="navbar navbar-expand-md bg-body-tertiary">
  <div class="container">
    <div class="d-flex align-items-center">
      <a class="navbar-brand" href="/list"
        ><i class="fa-solid fa-compass"></i
        ><span style="color: #fe424d">wander</span
        ><span style="color: black">Lust</span></a
      >
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon bg-body-light"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/list">All list</a>
        <a class="nav-link" href="/list/new">Add new list</a>
      </div>
      <div class="navbar-nav ms-auto">
        <% if(!currUser){ %>
        <a class="nav-link" href="/register">Signup</a>
        <a class="nav-link" href="/login">Login</a>
        <% } %> <% if(currUser){ %>
        <a class="nav-link" href="/logout">Logout</a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
