.logo img {
  width: 150px;
}
.navbar {
  z-index: 3;
  background-color: white !important;
  color: black !important;
  height: 5rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 4px gainsboro;
  position: sticky;
  top: 0;
}
.nav-link {
  color: black;
}
.fa-compass {
  font-size: 2rem;
  color: #fe424d;
}
.list-box {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.card {
  display: flex;
}
.card-body {
  padding: 0;
}
.img img {
  border-radius: 1rem;
}
.card-box:hover {
  opacity: 0.85;
}
.add-place {
  margin-left: 20rem;
  width: 50%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.card-detail {
  margin-left: 20rem !important;
}
.edit-del-btns {
  display: flex;
}
.edit-del-btns button {
  margin-right: 1rem;
}
.error-icon {
  fill: red;
  height: 1rem !important;
}
.alert {
  display: flex;
  flex-wrap: wrap;
}
.display-review {
  display: flex;
  justify-content: first baseline;
  align-items: center;
  flex-wrap: wrap-reverse;
  padding: 5px;
  min-height: 5rem;
  border-radius: 0.5rem;
}
.review-card {
  padding: 1rem;
  margin-right: 3rem;
  width: 40% !important;
}
.no-review {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.377);
  border-radius: 0.5rem;
  color: gray;
}
.flash-alert {
  width: 40%;
  position: fixed;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000000;
}
.form {
  display: flex;
  justify-content: flex-end;
  height: 50vh;
}
.form div {
  width: 70%;
}
#map {
  height: 400px;
  width: 100%;
}
.fil-contain {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.filters {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}
.filter {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  opacity: 1;
  margin-right: 3rem;
}
.filters .filter:hover {
  transition-duration: 0.25s;
  cursor: pointer;
  opacity: 0.65;
  transform: scale(1.1);
}
.filter p {
  font-size: 0.9rem;
}
.search input {
  width: 500px;
  border-radius: 4rem;
}
.search .btn {
  display: flex;
  align-items: center;
  border-radius: 4rem;
  padding: 0 1rem 0 1rem;
}
.tax-info {
  display: none;
  background-color: black;
  color: white;
  font-weight: 600;
  padding: 0 1rem 0 1rem;
  border-radius: 2rem;
}
.tag:hover {
  background-color: white;
  color: black;
}
