<% layout ("/layouts/boilerplate.ejs")%>
<body>
  <h1 style="text-align: center">Add your place</h1>
  <div class="add-place">
    <form
      method="post"
      action="/list"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div>
        <label for="title" class="form-label">Title</label>
        <input
          name="title"
          id="title"
          type="text"
          class="form-control"
          placeholder="Enter title"
          required
        />
        <div class="valid-feedback">Valid title</div>
        <div class="invalid-feedback">Invalid title</div>
      </div>
      <div>
        <label for="description" class="form-label">Description</label>
        <textarea
          name="description"
          id="description"
          placeholder="Enter description"
          class="form-control"
          required
          minlength="10"
          maxlength="200"
        ></textarea>
        <div class="valid-feedback">Valid description</div>
        <div class="invalid-feedback">
          Description should be in between 10-200 words
        </div>
      </div>
      <div>
        <label for="category" class="form-label">Category</label>
        <select
          name="category"
          id="category"
          class="form-control form-select"
          required
        >
          <option selected disabled>Choose category</option>
          <option value="room">Room</option>
          <option value="mountain">Mountain</option>
          <option value="pool">Pool</option>
          <option value="camp">Camp</option>
          <option value="farm">Farm</option>
          <option value="arctic">Arctic</option>
          <option value="nature">Nature</option>
        </select>
        <div class="invalid-feedback">choose a category</div>
      </div>
      <div>
        <label for="price" class="form-label">Price</label>
        <input
          name="price"
          class="form-control"
          id="price"
          min="1"
          placeholder="Enter price"
          required
        />
        <div class="valid-feedback">Valid price</div>
        <div class="invalid-feedback">Price should be greater than 0</div>
      </div>
      <div>
        <label for="location" class="form-label">Location</label>
        <input
          name="location"
          class="form-control"
          id="location"
          type="text"
          placeholder="Enter location"
          required
        />
        <div class="valid-feedback">Valid location</div>
        <div class="invalid-feedback">Invalid location</div>
      </div>
      <div>
        <label for="country" class="form-label">Enter country</label>
        <input
          class="form-control"
          name="country"
          id="country"
          type="text"
          required
          placeholder="Enter country"
        />
        <div class="valid-feedback">Valid country</div>
        <div class="invalid-feedback">Invalid country</div>
      </div>

      <div>
        <label for="image" class="form-label">Image url</label>
        <input
          name="image"
          class="form-control"
          id="image"
          type="file"
          required
        />
      </div>
      <button class="btn btn-outline-danger mt-3">Add</button>
    </form>
  </div>
</body>
