<%layout("/layouts/boilerplate.ejs")%>
<body>
  <div class="reg-form">
    <h2>Register form</h2>
    <form method="post" action="/register" class="needs-validation" novalidate>
      <div>
        <label for="username" class="form-label">Username</label>
        <input
          name="username"
          id="username"
          type="text"
          class="form-control"
          placeholder="Enter username"
          required
        />
      </div>
      <div>
        <label for="password" class="form-label">Password</label>
        <input
          name="password"
          id="password"
          type="password"
          class="form-control"
          placeholder="Enter password"
          required
        />
      </div>
      <button class="btn btn-success mt-3">Register</button>
    </form>
  </div>
</body>
